<h2><%= book.title %></h2>
<div>
    <%= book.description %>
</div>
<div>
    <%= book.pageCount %>
</div>
<div>
    <%= book.publishDate.toDateString() %>
</div>
<div>
    <%= book.author.name %>
</div>

<a href="/authors/<%= book.author.id %>">View Author</a>
<a href="/books/<%= book.id %>/edit">Edit</a>
<form action="/books/<%= book.id %>?_method=DELETE" method="POST" >
    <button type="submit">Delete</button>
</form>